/*GLOBAL*/
:root {
    --dark-blue-color:rgb(21, 45, 66);
    --light-blue-color:rgb(167, 209, 246);
    --purple-blue-color:rgb(197, 205, 255);
    --white-blue-color:rgb(235, 251, 254);
    }

html{
    scroll-behavior: smooth;
    font-family:sans-serif;
}

/* laptop layout*/

nav a:link {color: var(--dark-blue-color);}
nav a:hover{color:darkslategrey;}
nav a:visited{color:rgb(15, 27, 63);}

h1, h2, h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h3{
    color: var(--light-blue-color);
}

h2{
    font-size: 3.4375em;
    padding-left: 1.5625em;
    color: var(--dark-blue-color);
}

header{
    display: flex;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-right: .625em;
    z-index: 30;
    background-color: white;
    width: 100%
    /* height: 10vh; */
    /* padding-bottom: 15px; */
}


.logo{
    width: 6.25em;
    padding-left: 1.5625em;
    padding-top: .625em;
    margin: 0;
}

nav {
    padding: 0.625em;
    text-align: right;
}
#menu {
    list-style-type: none;
    display: flex;
    justify-content: end;
    gap: 1.25em;
}
#menu a {
    text-decoration: none;
    color: var(--light-blue-color);
}
#menu-toggle {
    display: none;
    background-color: var(--dark-color);
    color: var(--light-color);
    border: none;
}
#menu.active {
    display: flex;
}

.hero
{    
  max-height: none;
  min-height: 34.375em;
  -webkit-text-fill-color: inherit;
  object-fit: contain;
  background-image: url('../images/herobg.png');
  background-position: 50%;
  background-repeat: repeat;
  background-size: cover;
  background-clip: border-box;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  position: static;
  bottom: auto;
  margin-top: 2.5em;
}

.hero h1{
    color: var(--light-blue-color);
    font-size: 8.4375em;
    margin-bottom: 0;
}

.hero h3{
    font-size: 2.1875em;
    margin-top: 0;
}


.intro{
    color: var(--purple-blue-color);
    background-color: var(--dark-blue-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5625em;
    padding-left: 5.3125em;
    padding-right: 5.3125em;
    text-align: center;
}

.intro h2{
    color: var(--purple-blue-color); /* its not repetiotion, since i set the style of h2 on the top, i had to change the color here seperetly*/
    padding-left: 0;
}


.home-shop{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .9375em;
    background-color: var(--white-blue-color);
}

.home-shop-items{
    display: flex;
    flex-direction: row;
}


.gallery{
    background-color: var(--dark-blue-color);
    padding: 1.5625em;
}


.gal-img{
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 0;
  padding-bottom: 3.125em;
  display: grid;
}


.gal-img img{
    height: 21.875em;
margin: auto;}

.blog{
    background-color: var(--white-blue-color);
    color: var(--dark-blue-color);
    padding: 2.1875em;
    text-align: center;
    padding-left: 5.3125em;
    padding-right: 5.3125em;
}

.blog-img{
    align-content: center;
    padding: .625em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-row-gap:1.25em;  
}

.blog img{
    width:31.25em;
    margin: auto;
}

/* the above two tags are different. i=one is a class 'blog-img' while the other is targeting the images in the class 'blog'.*/

.blog-link {
    position: relative;
    text-align: center;

}
.blog-link h3 {
    position: absolute;
    bottom: 0;
    right: 15%;
}

footer {
    color: var(--light-blue-color);
    background-color: var(--dark-blue-color);
    justify-content: center;
    padding-top: .625em;
    padding-left: 0;
    display:flex;
}

.button{
  color: var(--dark-blue-color);
  text-align: center;
  background-color: var(--purple-blue-color);
  border: .0625em solid var(--light-blue-color);
  border-radius: .5em;
  padding: .9375em;
  margin: 1.5625em;
  box-shadow: 0 .25em .5em 0 var(--dark-blue-color), 0 .375em 1.25em 0 var(--dark-blue-color);
  margin-bottom: 1.25em;
}

.info{
    display: flex;
    flex-direction:row;
    padding: 1.5625em; 
}

.info img{
    width: 31.25em;
}
.info p{
    color:  var(--dark-blue-color);
    text-align: justify;
    font-size: 1.5625em;
    padding: 1.562em;
    margin: 0;
}
.about .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about {
    background-color: var(--purple-blue-color);
}

.about h2{
    margin: 0;
    padding-bottom: 0;
    padding-top: 4.6875em;
}

.products{
    display: grid;
    grid-template-columns:  1fr 1fr;
}

.glasses{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--dark-blue-color);
    padding: 1.5625em;
    background-color: var(--light-blue-color);
    margin: 1.5625em;
    padding: 2em;
}

.glasses h3{
    color: var(--dark-blue-color);
    margin: .625rem;
    padding: 0;

}
.glasses p{
    margin: 20px;
} 
.glasses img{
    width: 18.75em;
    box-shadow: .1875em .1875em .1875em .1875em  var(--dark-blue-color);
}

/* tablet layout*/

@media all and (max-width:80em) {
  
    h1, h2 { 
        font-size: 1.5625em;
    }

   
   .logo{
        margin: 0;
        padding: .625em;
        width: 5.3125em;
   }

    .hero {    
        min-height: 25em;
        margin-top: 1.25em;
    }


    .hero h1{
        font-size: 5em;   
    }
    
    .intro{
        padding: 1.5625em;
    }
    

    .gal-img{ 
        grid-template-columns: 1fr 1fr 1fr;    
    }
    
    
    .gal-img img{
        height: 18.75em;
    }
    
    .blog img{
        width:400px;
    }
    
    .products{
        display: grid;
        grid-template-columns:  1fr 1fr;
    }
    
    .glasses{
        margin:.9375em;
    }
    
    .glasses img{
        width: 12.5em;
    }
}

/* phone layout*/

@media all and (max-width:48rem) {
    h1, h2 { 
        font-size: 2em;
    }
    
    h3{
        font-size: 1em;
        padding: .625em;
        text-align: center;
    }

   
    .logo{
        width: 3.125em;
    }

    .nav{
        display: none;
    }

    #menu-toggle {
        display: inline;
    }

    #menu {
        display: none;
        position: absolute;
        flex-direction: column;
        right: 1.25em;
        background-color: var(--dark-color);
        padding: .625em;
        background-color: var(--dark-blue-color);
    }


    .hero {    
        min-height: 18.75em;
        margin-top: 1.25em;
        background-image: url('../images/blog4.png');

    }


    .hero h1{
        padding-top: 2.1875em;
        font-size: 3.125em;   
    }
    
    .intro{
        padding: .9375em;
    }
    .home-shop-items{
        flex-direction: column;
    }
    
    .gal-img{
      grid-template-columns: 1fr 1fr;
      padding-bottom: .625em;
    }
    
    
    .gal-img img{
        height: 12.5em;
    }
    
    .blog-img{
        grid-template-columns: 1fr;
    }

    .blog-link h3 {
        position: absolute;
        bottom: -5%;
        left: 13%;
    }

    .blog img{
        width:18.75em;
    }

    .info{
        display: flex;
        flex-direction:column;
        padding: 1.5625em; 
        margin: 0;
        align-items: center;
        
    }
    
    .info img{
        display: none;
    }

    .info p{
        font-size: .9375em;
    }
    
    .products{
        grid-template-columns:  1fr;
    }   
        
        
}